PORT= 5000
JWT_SECRET_KEY=
# DB_URI = mongodb+srv://collaborator:9AWaGkJBQzXGUlEm@kuconnect-cluster.opou9.mongodb.net 
#request you to use port 4000 for running the server
FRONTEND_URL = http://localhost:5173