@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dark mode scrollbar */
.dark .scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #444;
}

.dark .scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* for messages */
.scrollbar-msg::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-msg::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 6px;
  margin-top: 64px;
  margin-bottom: 75px;
}

.scrollbar-msg::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.scrollbar-msg::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* for messages dark mode*/
.dark .scrollbar-msg::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.dark .scrollbar-msg::-webkit-scrollbar-thumb {
  background: #444;
}

.dark .scrollbar-msg::-webkit-scrollbar-thumb:hover {
  background: #666;
}

body{
  font-family: roboto;  
}
